{% extends "base.html" %}

{% block scripts %}
<!-- CSS -->
<link rel="stylesheet" href="../../font-opensans.css" />
<link rel="stylesheet" href="../../font-fira.css" />
<link rel="stylesheet" href="../../main.css" />

<!-- Syntax Highlighting -->
<link rel="stylesheet" type="text/css" href="/syntax-theme-dark.css" media="(prefers-color-scheme: dark)" />
<link rel="stylesheet" type="text/css" href="/syntax-theme-light.css" media="(prefers-color-scheme: light)" />
{% endblock scripts %}

{% block content %}
<h1 class="title" style="padding-top: 30px;">
    {{ page.title }}
</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>
{{ page.content | safe }}
{% endblock content %}